body{
    background: orange;
    font-family: 'Nunito', sans-serif;
}

.color-grey{
    color: grey;
}

.color-orange{
    color:orange;
}
.container{
   
    /* margin-right: 20%; */
    margin-left: 30%;
    margin-top: 10%;
    width: 30%;
   padding: 20px 0 0 20px;
   background: #fff;

}
.line-hieght{
    line-height: 0.25em;
}
.pr-2{
    padding-right: 20px;
}
.header{
    display: flex;
    align-items: center;
    
}

.header img{
    margin-right: 10px;
}

.header h3{
    flex-basis: 85%;
}

.body-image{
    width:100%;
    height: auto;
}

.explore{
    margin-top: 1em;
    display: flex;
    overflow: hidden;
    justify-content: start;
    align-items: center;
}

.explore div{
    width: 6em;
    margin-right: 1em;

}

.explore div div div{
    height: 5em;
    width:  5em;
    border-radius:50%;
}

.explore div div h4{
    color: grey;
    font-weight:normal;
    text-align: center;
    margin-right: 1em;
}

.orange{
    background: orange;
}

.green{
    background: green;
}

.blue{
    background: blue;
}

.yellow{
    background: yellow;
}

.red{
    background: red;
}

.recommnedation-1{
    display: flex;
    justify-content: start;
    align-items: center;
}

.recommnedation-1 img{
    height: 100px;
    width: 100px;
}

.recommnedation-1 div{
    margin-left: 1em;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em 1em 1em !important;

}

.text-style{
    font-weight:normal;
    line-height: 0.5em;
}

.recommendations div h3{
    line-height: 0.5em;
}